@import '../../../../assets/sass/main';


.menuItem {
    user-select: none;
    transition: background 20ms ease-in 0s;
    cursor: pointer;
    width: calc(100% - 8px);
    margin-left: 4px;
    margin-right: 2px;
    padding-right: 6px;
    border-radius: 3px;
    
    display: flex;
    align-items: center;
    line-height: 120%; 
    user-select: none;
    min-height: 28px;
    font-size: 14px;
   
}
.menuItem:hover {
    background: $hover-background-color;
}


.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 4px;
}




.menuText {
    margin-left: 10px;
    margin-right: 12px;
    min-width: 0px;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:$text-color-daker;
    
}
 .hotkeyContainer {
    margin-left: auto;
    margin-right: 8px;
  
    min-width: 0px;
    flex-shrink: 0;
   
}

