.popupContainer {


    width: 300px; // 可以根据你的需求设置这个值
    height: 380px; // 同样，可以根据你的需求设置这个值
    overflow: auto; // 如果内容超出最大高度或宽度，将显示滚动条
    display: flex;
    flex-direction: column;
    /* 使子元素竖直排列 */
    align-items: center;
    /* 水平居中 */
    justify-content: center;
    background-color: rgb(17, 24, 39);
}

.planContatiner {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.subscriptionPlanText {
    color: #94A3B8;
    /* This is a typical slate-300 color */
    text-align: center;
    font-size: 1.25rem;
    /* Equivalent to Tailwind's text-xl */
}

.summaryText {
    color: #64748B;
    /* This is a typical slate-500 color */
    margin-bottom: 0.25rem;
    /* Equivalent to Tailwind's mb-1 */
}

.planButton {
    background-color: #2563EB;
    /* Typical bg-blue-600 color */
    padding: 1rem;
    /* p-4 */
    padding-left: 1.5rem;
    /* px-6 */
    padding-right: 1.5rem;
    /* px-6 */
    font-size: 1.125rem;
    /* text-lg */
    border-radius: 0.5rem;
    /* rounded-lg */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* shadow-lg */
}

.planButton:hover {
    background-color: #1D4ED8;
    /* Typical bg-blue-700 color */
}

.planButtonText {
    display: flex;
    color: #FFFFFF;
    /* Text color white */
    gap: 0.5rem;
    /* Equivalent to Tailwind's gap-2 */
    align-items: center;
    /* Aligns items vertically in the center */
    justify-content: center;
    /* Aligns items horizontally in the center */
}