@import '../../../assets/sass/main';
@import '../overlay.module.scss';

.menu {
    width: 15rem;
    padding: 8px 12px 8px 8px;
    //margin-right: 10px;
}

.menuSeparator {
    height: 1px;
    background-color: $svg-color-lighter;
    margin: 5px 0;

}