

.note-title-container {
    flex: 1 1 auto;
    white-space: nowrap;
    min-width: 0px;
    overflow: hidden;
    text-overflow: clip;
    display: flex;
    align-items: center;
   
}

.note-title-content {
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 2px;
}