@import '../../assets/sass/main';




.overlay {
    pointer-events: auto;
    position: relative;
    z-index: 10000;
    display:block;
    background-color:$ovelay-color-darker;
    
}

.innerContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;   
      
}
