.auth {

    width: 100vw;
    height: 100vh;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    /* 使子元素竖直排列 */
    align-items: center;
    /* 水平居中 */
    justify-content: center;
    /* 垂直居中 */
    //background-color: $background-color
}