
@import '../../../assets/sass/main';

.toggle-container {
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 3px;
    color: rgba(47, 53, 55, 0.65);
    width: 1.38rem;
    height: 1.38rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;    
}

.toggle-button {
    user-select: none;
    transition: background 20ms ease-in 0s;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.toggle-container:hover .toggle-button{
    background: $hover-background-color;
}


.toggle-container:hover .toggle-SVG {
    fill: $hover-svg-color; /* Darken the color a bit on hover */
}
.toggle-container:focus .toggle-SVG {
    fill: $hover-svg-color; /* Darken the color a bit on focus */
    outline: none; /* If you want to remove the default focus outline, but remember to provide another visual indication for accessibility */
}