@import '../../assets/sass/main';
@import './leftbar-block.module.scss';

%container {
    display: flex;
    justify-content: space-between; // 使子元素两端对齐
    align-items: center;
    color: gray; // 设置字体颜色为灰色
    user-select: none;
}

.container {
    justify-content: space-around;
    @extend %container;
}

.activeContainer {
    @extend %container;
    justify-content: flex-start;
    @include activeContainerLeftAligned;
}


.avatar {

    border-radius: 50%;


}

.welcomeMessage {
    font-size: 0.7rem; // 设置字体大小为1rem
    color: gray;
}



%iconContainer {
    display: flex;
    width: 1.4rem;
    height: 1.4rem;
    margin: 2px;
    padding: 2px;
    align-items: center;
    justify-content: center;

}

.avataIconContainer {
    @extend %iconContainer;
    padding: 0px;
}

.iconContainer {
    @extend %iconContainer;

}

.activeIconContainer {
    @extend %iconContainer;
    @include activeContainerLeftAligned;
}