@import '../../assets/sass/main';

.container {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    min-height: 1.5 rem;
    padding: 0px 0px 0px 0.3rem;
    margin-top: 6px;
    margin-bottom: 2px;
}
.title{
    flex: 1 1 auto;
    white-space: nowrap;
    min-width: 0px;
    overflow: visible;
    text-overflow: clip;
    display: flex;
    align-items: center;
     
    color:$text-color-lighter;
}


.iconContainer {
   
   // background-color: aquamarine;
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 10px;
    padding: 3px 3px;
    @include activeContainertyles;
}

.icon {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in 0s;
}
