@import '../../assets/sass/main';

.block-header-conatiner {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    min-height: 1.5 rem;
    padding: 0px 0px 0px 0.3rem;
    margin-top: 6px;
    margin-bottom: 2px;
}
.block-header-title{
    flex: 1 1 auto;
    white-space: nowrap;
    min-width: 0px;
    overflow: visible;
    text-overflow: clip;
    display: flex;
    align-items: center;
     
    color:$text-color-lighter;
}


.right-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
}

.right-icon {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in 0s;
}
