@import '../../assets/sass/main';

// 定义占位符选择器
%leftBarBlock {
    background-color: $background-color;
    border-radius: 2px;
    border: 0.5px solid $svg-color-lighter;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.8px 0;
}

.leftBarBlock {
    @extend %leftBarBlock; // 使用占位符选择器的样式
}

.leftBarBlockBody {
    @extend %leftBarBlock; // 同样使用占位符选择器的样式
    padding-bottom: 5px;
}