@import '../../assets/sass/main';
.note-container-div{
    background-color: $background-color;
}


.note-div {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    min-height: 1.7rem;
    padding: 2px 10px 2px 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 3px;
    font-weight: 400;
    
    cursor: pointer;
   
    color:$text-color-daker;
}

.note-div:hover {
    background: $hover-background-color;
}


