@import '../../../assets/sass/main';

.right-action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
    padding-left: 3px;
}
.kebab-button {
    user-select: none;
    transition: background 20ms ease-in 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 3px;
    margin-left: 4px;
   
}


.kebab-button:hover {
    background: $hover-background-color;
}





/* If you want to add any hover or focus effects, you can use pseudo-classes. Here's an example for hover: */

.kebab-button:hover .kebab-SVG {
    fill: $hover-svg-color; /* Darken the color a bit on hover */
}
.kebab-button:focus .kebab-SVG {
    fill: $hover-svg-color; /* Darken the color a bit on focus */
    outline: none; /* If you want to remove the default focus outline, but remember to provide another visual indication for accessibility */
}

/* Similarly, for focus effect (if the div gets focus due to being interactive): */


