@import '../assets/sass/main';


%svg-shared {


    fill: none;
    stroke: $svg-color;


    &:hover {
        //background-color: $hover-background-color; /* Darker red on hover */
    }
}


.svg-popup {
    stroke-width: 20px;
    //background-image: linear-gradient(to right, #4FD1C5, #3B82F6);
    stroke: white;
    fill: white;
}


.svg-small {
    stroke-width: 1px;
    @extend %svg-shared;

}


.svg-large {
    @extend %svg-shared;
    stroke-width: 20px;
}


.svg-ligther {
    stroke: $svg-color-lighter;
}


.svg-fill-lighter {
    fill: $svg-fill-color-lighter;
}

.svg-fill-darker {
    fill: $svg-fill-color;
}