$foreground-color:  rgb(22, 20, 18);

$background-color: rgba(240, 240, 241);

$hover-background-color: rgba(47, 53, 55, 0.09);


$hover-svg-color:rgba(25, 23, 17, 0.8);

$svg-color: rgba(47, 53, 55, 0.6);
$svg-color-lighter: rgba(47, 53, 55, 0.3);

$svg-fill-color: rgba(25, 25, 29);

