

$background-color: white;

$hover-background-color: rgba(47, 53, 55, 0.09);


$hover-svg-color:rgba(25, 23, 17, 0.8);

$svg-color: rgba(47, 53, 55, 0.6);
$svg-color-lighter: rgba(47, 53, 55, 0.3);

$svg-fill-color: rgba(25, 25, 29);


$text-color-daker: rgba(47, 53, 55, 0.9);

$text-color-lighter: rgba(47, 53, 55, 0.3);

$ovelay-color: rgba(47, 53, 55, 0.3);
$ovelay-color-darker: rgba(47, 53, 55, 1);
$input-border-color: rgba(47, 53, 55, 0.3);
